<div class="jumbotron center">
<h1>Welcome to a dope app.</h1>

<% if user_signed_in? %>
# do something
<% else %>
	<p>Sign up here. 
		<%=link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
		<%=link_to "Login", new_user_registration_path, class:"btn btn-primary" %>

	</p>
<% end  %>

<%= link_to "About", about_path %>
</div>
